<% if (theme.about) { %>
  <div class="widget-wrap">
    <div class="widget author-block">
      <% if (theme.about.avatar) { %>
        <img class="profile-avatar" src= <%- url_for(theme.avatar) %> >
      <% } %>
      <% if (theme.about.author) { %>
        <p class="author-name"> <%- config.author %> </p>
      <% } %>
      <% if(theme.about.social) { %>
          <%- partial('social') %>
      <% } %>
      </p>
      <% if (theme.about.aboutme) { %>
        <p class="profile-text"> <%- theme.aboutme %> </p>
      <% } %>
      <% if (theme.about.description) { %>
        <p> <%- config.description %> </p>
      <% } %>
    </div>
  </div>
<% } %>
