<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% if (is_post() && config.generator_amp){ %>
    <link rel="amphtml" href="<%= config.url %>/<%= page.path %>/amp/index.html">
  <% } %>
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <%
  // collect keywords
  var keywords = _.compact([theme.common_keywords]);
  if (page.keywords){
    keywords = _.flatten(keywords.concat([page.keywords]));
  }
  
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (keywords.length > 0){ %>
    <meta name="keywords" content="<%= keywords.join(",") %>">
  <% } %>
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%- css('css/style') %>
  <%- partial('google-analytics') %>
</head>
